*{
    padding: 0;
    margin: 0;
}

body {
    background: blue;
}

h1 {
    border-color:black;
    border-width: 20px;
    border: solid;
    text-align: center;
}

#block-game {
    height: 400px;
    width: 800px;
    background-color: beige;
    border: solid;
    border-width: 10px;
    margin: auto;
    overflow: hidden;
}


#block {
    height: 400px;
    width: 80px;
    background-color: aqua;
    position: relative;
    left: 800px;
    animation: block 3s infinite;
}

/* #hole {
    height: 100px;
    width: 80px;
    background-color: white;
    position: relative;
    left: 800px;
    top: -300px;
    animation: block 2s infinite;
} */

#player {
    height: 30px;
    width: 40px;
    background-color: black;
    position: relative;
    
 
}
    @keyframes block{
    0%{left: 800px}
    100%{left: -80px}
}