body {
    background: blue;
}

h1 {
    border-color:black;
    border-width: 20px;
    border: solid;
    text-align: center;
}

#block-game {
    height: 400px;
    width: 800px;
    background-color: beige;
    border: solid;
    border-width: 10px;
    margin: 0 auto;
}

#block {
    height: 40px;
    width: 80px;
    background-color: black;
    margin-top: 360px;
    margin-left: 360px;
    position: relative;
}