*{
    padding: 0;
    margin: 0;
}

body {
    background: blue;
}

h1 {
    border-color:black;
    border-width: 20px;
    border: solid;
    text-align: center;
}

#block-runner {
    height:450px;
    width: 850px;
    padding: 60px;

}

#block-game {
    height: 400px;
    width: 800px;
    background-color: beige;
    border: solid;
    border-width: 10px;
    position: relative;
    margin: auto;
    overflow: hidden;
}


#block {
    height: 400px;
    width: 80px;
    left: 800px;
    border: 1px solid black;
    background-color: aqua;
    position: absolute;
    animation: block 5s infinite linear;
}

#score {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    position: relative;
    margin: auto;
    background-color: white;
}


#player {
    height: 30px;
    width: 40px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 300px;
    left: 40px;
 
}
@keyframes block{
    0%{left: 800px}
    100%{left: -300px}
}
