*{
    padding: 0;
    margin: 0;
}

body {
   height: 100vh;
   background-image: linear-gradient(rgb(7, 0, 68), rgb(0, 49, 11));
}

h1 {
    border-color:black;
    border-width: 20px;
    border: solid;
    text-align: center;
}

h2 {
    width: 50vw;
    padding-left: 30px;
    color: rgb(187, 201, 0);
}

.button {
    position: relative;
    margin: auto;
    width: 20%;
    height: 10% ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
}

#about-me{
    padding-top: 30px;
}
.button:hover{
    background-color:rgb(117, 126, 0);
}
    
.active{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}
    
#block-runner {
    height:450px;
    width: 850px;
    padding: 60px;
    /* border: 3px solid red; */

}

#bio {
    color: rgb(187, 201, 0);
    width: 50vw;
    padding-left: 60px;
}

#block-game {
    height: 400px;
    width: 800px;
    background-color: beige;
    border: solid;
    border-width: 10px;
    position: relative;
    margin: auto;
    overflow: hidden;
}


.block {
   
    height: 400px;
    width: 80px;
    left: 800px;
    position: absolute;
    animation-name: block;
    /* animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation: block 0s infinite linear; */
}

#score {
    height: 50px;
    width: 100px;
    border: 10px solid black;
    position: relative;
    margin: 15px;
    top: 5px;
    display: inline;
    background-color: beige;
    padding: 5px;
}

#highScore {
    height: 50px;
    width: 100px;
    border: 10px solid black;
    position: relative;
    margin: 5px;
    top: 5px;
    left: -10px;
    display: inline;
    background-color: beige;
    padding: 5px;

}

#instructions {
    width: 50vw;
    padding-left: 30px;
}

#toPlay {
    color: rgb(187, 201, 0);
    width: 50vw;
    padding-left: 60px;
    font-size: 17px;
    
}

#player {
    height: 30px;
    width: 40px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 1px;
    left: 40px;
    border: 1px solid black;
}

 /* .animation {
    animation: block;
    animation-delay: 1s; 
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
} */

@keyframes block{
    0%{left: 800px}
    100%{left: -300px}
} 
